{% extends '../baseTemplate.twig' %}

{% block title %}Panel administratora{% endblock %}

{% block header %}
    Panel administratora
{% endblock %}

{% block main %}

    <div class="list-group mt-3">
        <button type="button" class="list-group-item list-group-item-action active bg-dark" disabled>
            <i class="fas fa-cogs"></i> Opcje użytkowników:
        </button>
        <a type="button" class="list-group-item list-group-item-action" href="/turysci"> <i class="fas fa-walking"></i>
            Turyści</a>
        <a type="button" class="list-group-item list-group-item-action" href="/przodownicy"> <i
                    class="fas fa-user-shield"></i> Przodownicy</a>

        <button type="button" class="list-group-item list-group-item-action active bg-dark" disabled>
            <i class="fas fa-cogs"></i> Opcje grup górskich:
        </button>
        <a type="button" class="list-group-item list-group-item-action" href="/grupy"> <i class="fas fa-mountain"></i>
            Grupy górskie</a>
        <a type="button" class="list-group-item list-group-item-action" href="/wybierzPrzodownika"><i
                    class="fas fa-hiking"></i> Grupy przodowników</a>
        <a type="button" class="list-group-item list-group-item-action" href="/pasma"><i class="fas fa-map"> Pasma
                górskie</i></a>
        <a type="button" class="list-group-item list-group-item-action" href="/punkty"><i
                    class="fas fa-map-marker-alt"></i> Punkty</a>
        <a type="button" class="list-group-item list-group-item-action" href="/odcinkiWybor"><i
                    class="fas fa-exchange-alt"></i> Odcinki</a>

        <button type="button" class="list-group-item list-group-item-action active bg-dark" disabled>
            <i class="fas fa-cogs"></i> Inne:
        </button>
        <a type="button" class="list-group-item list-group-item-action" href="/odznaki"><i class="fas fa-award"></i>
            Odznaki górskie</a>
        <a type="button" class="list-group-item list-group-item-action" href="/ksiazeczka/zgloszone"><i
                    class="fas fa-plus"></i> Zatwierdź książeczke</a>
    </div>

{% endblock %}
