{% extends '../baseTemplate.twig' %}
{% block title %}Turysta tabela{% endblock %}
{% block header %}

<h2>       {{ regulamin[0].getTekstNaglowek }}</h2>
{% endblock %}
{% block main %}


   <div id="center" style="font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif">

      {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
          <div class="nav-item">
              <a class="btn btn-success" href="/regulamin/updateForm">Edycja Regulaminu</a>
          </div>
      {% endif %}

       {{ regulamin[0].getTekstRegulamin }}



</div><!-- koniec center -->



{% endblock %}
