<!-- Footer -->
<footer lass="py-3 text-secondary">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <img src="/images/navIco.png" height="30" width="50" />
        © 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
