<nav class="navbar sticky-top navbar-expand-lg navbar-dark  text-center" style='position: relative; margin-top: 100px;z-index: 0; background-color: black;'>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/przodownicy">Przodownicy</a>#}
{#            </li>#}
{#            {% if 'ROLE_administrator' in LoggedUser.getAuthorities or 'ROLE_przodownik' in LoggedUser.getAuthorities %}#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="/turysci">Turysci</a>#}
{#                </li>#}
{#            {% endif %}#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/ksiazeczki">Ksiazeczki</a>#}
{#            </li>#}
{#             <li class="nav-item">#}
{#                <a class="nav-link" href="/zdjecia">Zdjecia</a>#}
{#            </li>#}
{#             <li class="nav-item">#}
{#                <a class="nav-link" href="/ksiazeczkiWycieczki">Ksiazeczka Wycieczki</a>#}
{#            </li>#}
{#             <li class="nav-item">#}
{#                <a class="nav-link" href="/wycieczki">Wycieczki</a>#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="/grupyFRONT">Grupy górskie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/regulamin">Regulamin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/odcinkiWybor">Odcinki</a>
            </li>
             
            {% if 'ROLE_turysta' in LoggedUser.getAuthorities %}
            <li class="nav-item">
                <a class="nav-link" href="/turystaodznaki/ranking">Ranking</a>
            </li>
            {% endif %}
        </ul>
    	<ul class="navbar-nav ml-auto">
            <li class="nav-item">
            {% if LoggedUser is not null %}
            <div class="dropup">
      			<button class="dropbtn"> Witaj {{ LoggedUser.getName() }}</button>
                  <div class="dropup-content">
                    <span>[Role] {% for i in LoggedUser.getAuthorities() %} {{ i.getAuthority() }} {% endfor %}</span>
                  </div>
           </div>
            </li>
              {% endif %}
            <li class="nav-item dropdown dropleft">
                <a class="nav-link dropdown-toggle dropleft" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <abbr title="Opcje"><img src="/images/settings3.png" alt = "opcje" width="25" height="25" /></abbr>
                </a>
                <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                    {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                        <h6 class="dropdown-header"><strong>Ustawienia:</strong></h6>
                        <a class="dropdown-item" href="/panel">Panel Administratora</a>
                    {% elseif ('ROLE_przodownik' in LoggedUser.getAuthorities) or ('ROLE_turysta' in LoggedUser.getAuthorities) %}
                        <h6 class="dropdown-header"><strong>Ustawienia:</strong></h6>
                        {% if 'ROLE_turysta' in LoggedUser.getAuthorities %}
                            <a class="dropdown-item" href="/turysta/mojeKonto">Moje konto</a>
                            <a class="dropdown-item" href="/turystaodznaki/MojeOdznaki">Moje odznaki</a>
                            <a class="dropdown-item" href="/ksiazeczka/MojaKsiazeczka">Moja książeczka</a>
                        {% endif %}
                         {% if 'ROLE_przodownik' in LoggedUser.getAuthorities %}
                            <a class="dropdown-item" href="/przodownik/mojeKonto">Moje konto</a>
                            <a class="dropdown-item" href="/mojeGrupy">Moje grupy</a>
                            <a class="dropdown-item" href="/turysci">Przegląd turystów</a>
                            <a class="dropdown-item" href="/wycieczka/zgloszone">Zgłoszone Wycieczki</a>
                        {% endif %}
                    {% else %}
                        <h6 class="dropdown-header"><strong>Zarejestruj:</strong></h6>
                        <a class="dropdown-item" href="/rejestracja/przodownik">Konto Przodownika</a>
                        <a class="dropdown-item" href="/rejestracja/turysta">Konto Turysty</a>
                    {% endif %}
                </div>
            </li>

            <li class="nav-item">
                {% if LoggedUser is null %}
                <a class="nav-link" href="/login"><abbr title="Zaloguj"><img src="/images/login.png" width="25" height="25" alt="zaloguj" /></abbr></a>
                {% else %}
                <a class="nav-link" href="/logout"><abbr title="Wyloguj"><img src="/images/logout.png" width="25" height="25" alt="wyloguj" /></abbr></a>
                {% endif %}
            </li>
  		</ul>
    </div>
</nav>


